.header__lang-link {
    color: white;
    text-decoration: none;
    transition-duration: .5s;
   
}
.header__lang-link:hover {
    opacity: .5;
}
@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.1;
    }
}