.cover__title {
    text-align: center;
    font-size: 72px;
    line-height: 1.05;
    font-weight: bold;
    margin-top: auto;
    max-width: 560px;
    align-self: center;
    position: relative;
    z-index: 3;
   
}
@media screen and (max-width: 320px)  {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}
@media screen and (max-width: 768px) {
    .cover__title  {
        font-size: calc(32px + 40  * ((100vw - 320px) / 768));
    }
  }